.footer {
  display: flex;
  align-items: center;
  padding: 14rem 25rem 10rem 36rem;

  &__text-block {
    max-width: 38rem;
    margin-right: 12rem;
  }

  &__header {
    margin-bottom: 8rem;
  }

  &__header-1 {
    font-size: 3.5rem;
    color: var(--color-orange);
  }

  &__header-2 {
    font-size: 3.5rem;
    color: var(--color-orange-grey);
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-orange-grey);
  }
}
