@font-face {
  font-family: 'Muller';
  src: url("../assets/fonts/Muller/MullerRegular.woff") format("truetype");
}

@font-face {
  font-family: 'MullerBold';
  src: url("../assets/fonts/Muller/MullerBold.woff") format("truetype");
}

@font-face {
  font-family: 'MullerExtraBold';
  src: url("../assets/fonts/Muller/MullerExtraBold.woff") format("truetype");
}
