.form {
  margin-left: 13rem;
  height: 31rem;

  &__input {
    display: block;
    width: 33rem;
    height: 6rem;
    border: var(--color-orange-grey) .1rem solid;
    border-left: none;
  }

  &__input_name {
    margin-top: 6rem;
  }

  &__input_address {
    margin-top: 2.2rem;
  }

  &__input_tel {
    margin-top: 2.2rem;
  }

  &__input::placeholder {
    padding-left: 2rem;
    font-family: Muller;
    font-size: 1.8rem;
    color: var(--color-orange-grey);
  }

  &__button {
    font-family: MullerBold;
    font-size: 1.6rem;
    width: 33rem;
    height: 6rem;
    border: none;
    background-color: var(--color-orange);
    margin-top: 2.8rem;
  }
}

